APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai// 数据库配置[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = tho2oUSERNAME = rootPASSWORD = 123456HOSTPORT = 3306CHARSET = utf8mb4PREFIX = th_DEBUG = true// 缓存配置[CACHE]TYPE = redisHOST = 127.0.0.1PORT = 6379PASSWORD =SELECT = 1TIMEOUT = 0EXPIRE = 0PREFIX = TH_[LANG]default_lang = zh-cn// 系统配置[SYSTEM]SITENAME = RXThinkCMF_TP6旗舰版NICKNAME = 旗舰版v1.0.0VERSION = v1.0.0// 网址配置[DOMAIN]SITEURL = http://www.tho2o.comIMAGEURL = http://images.tho2o.com