<!-- 引入基类模板 -->
{extend name='public/base' /}

<!-- 主体部分 -->
{block name='content'}

	<!-- 功能操作区一 -->
	<form class="layui-form toolbar">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label w-auto">真实姓名：</label>
				<div class="layui-input-inline">
					<input type="text" name="realname" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<div class="layui-input-inline" style="width: auto;">
					{widget:query name="查询"}
					{widget:add name="添加人员"}
					{widget:dall name="批量删除"}
				</div>
			</div>
		</div>
	</form>

	<!-- TABLE渲染区 -->
	<table class="layui-hide" id="tableList" lay-filter="tableList"></table>
	
	<!-- 操作功能区二 -->
	<script type="text/html" id="toolBar">
		{widget:edit name="编辑"}
		{widget:delete name="删除"}
		{widget:btn name="独立权限" event="permission" icon="layui-icon-set"}
		{widget:btn name="重置密码" event="resetPwd" icon="layui-icon-password" color="layui-btn-warm"}
	</script>
	
	<!-- 状态 -->
	<script type="text/html" id="statusTpl">
		<input type="checkbox" name="status" value="{literal}{{ d.id }}{/literal}" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" {literal}{{ d.status == 1 ? 'checked' : '' }}{/literal} >
	</script>
	
	<!-- 是否管理员 -->
	<script type="text/html" id="adminTpl">
	  {literal}
		  {{#  if(d.is_admin === '1'){ }}
			<span style="color: #F581B1;">是</span>
		  {{#  } else { }}
			否
		  {{#  } }}
	  {/literal}
	</script>

{/block}
	
	
 
